/* Common styles for all views */
.container {
    flex: 1;
    height: 12cm;
    width: 15cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232323;
   
    border: 2px solid black;
    border-radius: 60px 70px 40px 140px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon{
  

   cursor: pointer;
    margin-left: 500px;
    color: azure;
   
}

.title {
  
    margin: 12px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%; 
    background-color: #232323;
}

.username, .password {
    background-color: #232323;
    margin-bottom: 10px;
    height: 40px; 
}
.username::placeholder,.password::placeholder{
    color: white;
}

/* Styling for input fields */
.inputs input {
    padding: 8px;
   border-bottom-color:white;
   border-right: 0px;
    margin-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
    color: azure;
}

.button{
    height: 60px;
    width: 200px;
    border: 3px solid black;
    border-radius: 20px;
    background-color:  #75E0B0;
    background: linear-gradient(to right , blue 25%, #75E0B0 70%, blue 100%);
    cursor: pointer;
}
.createAccount {
    margin-top: 10px;
    color: #888; 
    font-size: 14px;
    text-align: center;
    cursor:pointer;
  }

.forgotPassword {
    margin-left: 400px;
    margin-top: 10px; 
    margin-bottom: 10px;
    color: #5b5be3; 
    font-size: 14px; 
    text-align: center; 
    cursor: pointer; 
  }

/* Media query for mobile view */
@media (max-width: 600px) {
    .container {
        width: 8cm;
    }

    .inputs {
        width: 100%;
    }
    .forgotPassword{
        width: 100%;
        margin-right: 250px;
        cursor: pointer;
    }
    .button{
        width: 100%;
        cursor: pointer;
    }
    .createAccount{
        cursor: pointer;
    }
}
